.assessments-box {
    margin-top: 15px;
    margin-left: 15px;
    height: 316px;
    width: 100%;
    // min-width: 700px;

    background-color: white;
    padding-left: 24px;
    padding-right: 20px;
    border-radius: 20px;
    position: relative;

    & .course-title {
        padding-top: 15px;
        font-size: 26px;
        font-weight: 500;

        display: flex;
    }

    & .headings {
        width: 100%;
        height: 5px;
        display: flex;
    }

    & .assessment-h1 {
        margin-top: 5px;
        font-size: 10px;
        color: #9BA5B7;
        left: 5%;
        position: absolute;
        height: 16px;
    }

    & .assessment-h2 {
        margin-top: 5px;
        font-size: 10px;
        color: #9BA5B7;
        left: 18%;
        position: absolute;
        height: 16px;
    }

    & .assessment-h3 {
        margin-top: 5px;
        font-size: 10px;
        color: #9BA5B7;
        justify-self: end;
        left: 73%;
        position: absolute;
        height: 16px;
    }

    & .assessment-item {
        margin-top: 15px;
        margin-left: 8px;
        height: 63px;
        width: 100%;
        text-align: justify;

        display: flex;
        align-items: center;

    }

    & .date-container {
        height: 100%;
        width: 6%;
    }

    & .date-1 {
        font-size: 10px;
        color: #9BA5B7;
        text-align: center;
    }

    & .date-2 {
        font-size: 18px;
        color: black;
        font-weight: 700;
    }

    & .class-container {
        margin-left: 8%;
        height: 57px;
        width: 80%;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & .class-container:hover {
        margin-left: 8%;
        height: 57px;
        width: 80%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        border-radius: 10px;
        background-color: #FAFAFF;
        box-shadow: rgba(0, 0, 0, 0.10) 0px 14px 20px 0px;
    }

    & .class-heading {
        font-size: 16px;
        font-weight: 500;
        color: black;
    }

    & .class-sub {
        font-size: 14px;
        color: #9BA5B7;
    }

    & .time-container {
        margin-right: min(20px, 10%);
        width: 100px;
        height: 24px;
        border-radius: 11px;
        background-color: #E7E7FF;
        text-align: center;
    }

    & .time-heading {
        font-size: 9px;
        font-weight: 700;
        width: 200px;
    }
}