.info-box {
  display: flex;
  gap: 24px;
  width: 100%;
  padding: 32px 24px;
  background-color: #FFFFFF;
  color: #121212;
  border-radius: 12px;
  font-family: "Poppins";
  line-height: 21px;
  letter-spacing: 0.3px;
  //word-wrap: break-word;

  & .course-title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 16px;
  }

  & p {
    font-size: 13px;
    margin: 0 48px 0 0;
    //font-weight: 500;
    color: #121212B3;
  }

  .course-btn-group {
    width: 100%;
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    padding-right: 48px;
    padding-top: 32px;

    & .course-btn-clear {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 4px 0 4px 8px;
      background-color: #FFFFFF;
      border: 1.50px #1177C0 solid;
      border-radius: 8px;
      color: #1177C0;
      font-size: 15px;
      font-weight: 600;
      //line-height: 20px;
      cursor: pointer;
    }

    & .course-btn-fill {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 4px 0 4px 8px;
      background-color: #1177C0;
      border: 1.50px #1177C0 solid;
      border-radius: 8px;
      color: #FFFFFF;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
    }

    & span {
      font-family: "Inter";
    }
  }

  //& svg {
  //  width: 63px;
  //}

}

.mark-box {
  width: 100%;
  height: 150px;
  background-color: #FFFFFF;
  border-radius: 12px;
  position: relative;

  & .mark-box-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);;
    display: flex;
    align-items: center;

    & .mark-wrapper {
      display: flex;
      justify-content: space-between;
      font-size: 26px;
      font-weight: 600;
      min-width: 500px;
      margin-left: 40px;
    }
  }

}