.background{
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    position: fixed;
    overflow: scroll;
}

.next-button{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 14px;
    font-family: 'DMSans';
    height: 40px;
    width: 90px;
    border-radius: 10px;
    background-color: #D1D0FB;
    border: none;
    color: #403DED;
    margin-bottom: 0%;
    cursor: pointer;
}

.sidebar{
    height: 100%;
    width: 15%;
    background-color: black;
    color: white;
}