.exam {
  width: 100%;
  padding: 20px 40px 20px 20px;
  font-family: "Inter";

  & .question-container {
    display: flex;
    gap: 12px;
  }

  & .question-box {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 20px;
    max-width: 1600px;
    height: fit-content;
    flex: 1;
    position: relative;
  }

  & h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-left: 25px;
  }

  & h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
    padding-left: 10px;
    color: #000;
  }

  & .question-text {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 12px;
    border-bottom: 1px solid #C4C4C4;
    margin-top: 10px;
  }

  & .options label {
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    color: #000;
    font-size: 16px;
    font-weight: 400;
  }

  & .options label:last-child {
    margin-bottom: 4px;
  }

  & .options input[type="checkbox"] {
    margin-right: 20px;
    cursor: pointer;
    appearance: none;
    color: #ABABAB;
    height: 18px;
    width: 18px;
    border: 1px solid #ABABAB;
    border-radius: 50%;
  }

  & .options input[type="checkbox"]:checked {
    background-color: #ABABAB;
  }

  & .options input[type="text"] {
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Inter";
    width: 100%;
  }

  & .submit-q {
    padding: 10px 24px;
    background-color: #1177C0;
    border: 1.50px #1177C0 solid;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: "Poppins";
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.3px;
    cursor: pointer;
    position: absolute;
    bottom: -56px;
    right: 0;
  }

  & .submit-q:hover {
    background-color: #0B5D98;
  }

  & .question-side {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 200px;

    & h4 {
      font-size: 16px;
      font-weight: 700;
      text-align: center;
    }

    & .side-list {
      background-color: #FFF;
      border-radius: 20px;
    }

    & .side-time {
      background-color: #FFF;
      border-radius: 20px;
    }
  }
}
  