
.exam-container {
  padding: 20px 40px 20px 20px;
  width: 100%;
    max-width: 1600px;

  & .exam-details {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 50px;
  }

  & .exam-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 0px;
    text-align: center;
  }

  & .exam-info div {
    font-weight: 500;
    font-size: 32px;
    font-family: "Inter";
    color: #9592A6;
    margin-bottom: 32px;
  }

  & .exam-info strong {
    display: block;
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 800;
    color: #333269;
  }

  & .exam-rules {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 20px;
    margin-bottom: 18px;
  }

  & .ranking-system {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 20px;

    & .badge-group {
     margin-top: 30px;
     margin-left: 50px;
    }
  }

  & h1 {
    margin: 0;
  }

  & h2 {
    margin-top: 8px;
    margin-left: 12px;
    color: #121212;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.3px;
  }

  & h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #121212;
    font-family: "Poppins";
    font-weight: 600;
    line-height: 27px; /* 150% */
    letter-spacing: 0.3px;
  }

  & p {
    color: #121212;
    font-family: "Poppins";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 161.538% */
    letter-spacing: 0.3px;
    opacity: 0.7;
  }

  & .exam-details-box {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
  }


  & .start-exam-button {
    float: right;
    margin-top: 25px;
    margin-bottom: 16px;
    right: 40px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 30px;
    font-size: 16px;
    font-family: "Inter";
    font-weight: 600;
    cursor: pointer;
    transition: 0.1s;
  }

  & .start-exam-button:hover {
    background-color: #F5F5F5;
    color: #4CAF50;
    border: solid;
    border-width: 1.5px;
  }
}