.exam {
  width: 100%;
  padding: 20px 40px 20px 20px;
  font-family: "Inter";

  & .question-container {
    display: flex;
    gap: 12px;
  }

  & .question-box {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 20px;
    max-width: 1600px;
    height: fit-content;
    flex: 1;
    position: relative;
  }

  & h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-left: 25px;
  }

  & h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
    padding-left: 10px;
    color: #000;
  }

  & .question-text {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 12px;
    border-bottom: 1px solid #C4C4C4;
    margin-top: 10px;
  }

  & .options label {
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    color: #000;
    font-size: 16px;
    font-weight: 400;
  }

  & .options label:last-child {
    margin-bottom: 4px;
  }

  & .options input[type="checkbox"] {
    margin-right: 20px;
    cursor: pointer;
    appearance: none;
    color: #ABABAB;
    height: 18px;
    width: 18px;
    border: 1px solid #ABABAB;
    border-radius: 50%;
  }

  & .options input[type="checkbox"]:checked {
    background-color: #ABABAB;
  }

  & .options input[type="text"] {
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Inter";
    width: 100%;
  }

  & .submit-q {
    padding: 10px 24px;
    background-color: #1177C0;
    border: 1.50px #1177C0 solid;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: "Poppins";
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.3px;
    cursor: pointer;
    position: absolute;
    bottom: -56px;
    right: 0;
  }

  & .submit-q:hover {
    background-color: #0B5D98;
  }

  & .submit-q:disabled {
    background-color: #ABABAB;
    border-color: #8A8A8A;
    cursor: not-allowed;
  }

  & .question-side {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 200px;

    & h4 {
      font-size: 16px;
      font-weight: 700;
      text-align: center;
    }

    & .side-list {
      background-color: #FFF;
      border-radius: 20px;
    }

    & .side-time {
      background-color: #FFF;
      border-radius: 20px;
    }
  }

  & .result-popup {
    width: 112px;
    background-color: #000;
    color: #FFF;
    opacity: 0.5;
    border-radius: 20px;
    padding: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: opacity 0.25s;
  }

  & .result-popup.hidden {
    opacity: 0;
    pointer-events: none;
  }

  & .end-container {
    display: flex;
    flex-direction: column;
    gap: 28px;

    & .end-info-box {
      display: flex;
      background-color: #FFF;
      border-radius: 20px;
      align-items: center;
      justify-content: center;
      padding: 48px 0;

      & div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 550px;
      }

      & h2 {
        margin-top: 40px;
        font-size: 24px;
        font-weight: 700;
      }

      & p {
        margin: 0;
        font-size: 16px;
      }
    }

    & .end-results-box {
      display: flex;
      background-color: #FFF;
      border-radius: 20px;
      align-items: center;
      justify-content: center;
      padding: 24px 0;
      font-size: 32px;
      font-weight: 500;
      gap: 32px;

      & .rank-update-svg {
        padding-top: 8px;
        transform-origin: 50% 50%;
        transform: scale(1.66);
      }
    }
  }
}