.profile-box {
    width: 371px;
    //height: 697px;
    height: 647px;
    background-color: white;
    border-radius: 23.389px;
    margin-left: 20px;

    padding-left: 24px;
    padding-right: 20px;
    border-radius: 20px;

    & .course-title {
        padding-top: 15px;
        font-size: 26px;
        font-weight: 500;

        display: flex;
    }

        & .user-name {
            font-size: 26px;
            font-weight: 500px;
        }
}