.courses-container-t {
  margin-left: 20px;
  margin-right: 24px;
  display: flex;
  flex-direction: row !important;
  gap: 20px;

  & .courses-info {
    width: 70%;
  }
}

.students-box {
  padding: 32px;
  background-color: #FFFFFF;
  color: #121212;
  border-radius: 12px;
  line-height: 21px;
  letter-spacing: 0.3px;
  width: 30%;

  & .students-title {
    font-size: 26px;
    font-family: "Inter";
    padding-bottom: 32px;
  }

  & .student-list {
    list-style-type: none;

    //& svg {
    //  transform: scale(0.5);
    //}
  }
}

