@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno'), url('./MuseoModerno.ttf') format('truetype');
  }

  @font-face {
    font-family: 'DMSans';
    src: local('DMSans'), url('./DMSans.ttf') format('truetype');
  }

@font-face {
    font-family: 'Inter';
    src: local('Inter'), url("./Inter-VariableFont_slnt,wght.ttf") format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url("./Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url("./Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url("./Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url("./Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
}