.primary-box-sign-up {
    width: 654px;
    height: 550px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);


    & .title {
        height: 20px;
        display: inline;
        text-align: center;
        font-family: 'MuseoModerno';
    }

    & .subtitle {
        font-family: 'DMSans';
        text-align: center;
        font-size: 24px;
        font-weight: 500;
    }

    & .auth-name {
        display: flex;
        justify-content: space-between;
        margin: 0 150px;
        padding: 0 10px;

        & div:first-child {
            margin-right: 10px;
        }

        & div:last-child {
            margin-left: 10px;
        }
    }

    & .user-authentication-input {
        font-family: 'DMSans';
        margin: 0 150px;
        padding: 0 10px;
    }

    & .user-authentication-input-2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .user-select-1 {
        text-align: "center";
        font-size: 20px;
        font-weight: 500;
        font-family: 'DMSans';
        height: 62px;
        width: 250px;
        background-color: #ffffff;
        border: solid;
        border-radius: 12px;
        border-color: #403DED;
        border-width: 1.5px;
        cursor: pointer;
    }

    & .user-select-2 {
        text-align: "center";
        font-size: 20px;
        font-weight: 500;
        font-family: 'DMSans';
        height: 62px;
        width: 250px;
        background-color: #ffffff;
        border: dotted;
        border-radius: 12px;
        border-color: #403DED;
        border-width: 1.5px;
        margin-bottom: 15px;
        cursor: pointer;
    }

    & input {
        display: block;
        width: 100%;
        background-color: #e8e9eb;
        color: #434242 !important;
        border-radius: 10px;
        padding: 14px;
        margin-top: 4px;
        margin-bottom: 20px;
        font-size: 16px;
        border: none;
        outline: none;
    }

    & .next-button {
        margin-left: 520px;
        margin-top: 40px;
        font-size: 14px;
        font-family: 'DMSans';
        height: 40px;
        width: 90px;
        border-radius: 10px;
        background-color: #ffffff;
        border: solid;
        border-color: #403DED;
        border-width: 1px;
        color: #403DED;
        margin-bottom: 0%;
        cursor: pointer;
    }
}

.box-top {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 20px;

    a {
        margin: 0;
        padding: 0;
    }
}

.first-last-name {
    gap: 4px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-block;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: auto;
    margin-bottom: 0%;
    width: 50px;
}

.back-button {
    border: none;
    margin-top: 4px;
    font-size: 12px;
    background-color: white;
    cursor: pointer;
}

.primary-box-sign-up-2 {
    width: 654px;
    height: 745px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);


    & .title {
        height: 20px;
        display: inline;
        text-align: center;
        font-family: 'MuseoModerno';
    }

    & .subtitle {
        font-family: 'DMSans';
        text-align: center;
        font-size: 24px;
        font-weight: 500;
    }

    & .auth-name {
        display: flex;
        justify-content: space-between;
        margin: 0 150px;
        padding: 0 10px;

        & div:first-child {
            margin-right: 10px;
        }

        & div:last-child {
            margin-left: 10px;
        }
    }

    & .user-authentication-input {
        font-family: 'DMSans';
        margin: 0 150px;
        padding: 0 10px;
    }

    & .user-authentication-input-2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .user-select-1 {
        text-align: "center";
        font-size: 20px;
        font-weight: 500;
        font-family: 'DMSans';
        height: 62px;
        width: 250px;
        background-color: #ffffff;
        border: solid;
        border-radius: 12px;
        border-color: #403DED;
        border-width: 1.5px;
        cursor: pointer;
    }

    & .user-select-1-selected {
        text-align: "center";
        color: white;
        font-size: 20px;
        font-weight: 500;
        font-family: 'DMSans';
        height: 62px;
        width: 250px;
        background-color: #403DED;
        border: solid;
        border-radius: 12px;
        border-color: #403DED;
        border-width: 1.5px;
        cursor: pointer;
    }

    & .user-select-2 {
        text-align: "center";
        font-size: 20px;
        font-weight: 500;
        font-family: 'DMSans';
        height: 62px;
        width: 250px;
        background-color: #ffffff;
        border: dotted;
        border-radius: 12px;
        border-color: #403DED;
        border-width: 1.5px;
        cursor: pointer;
    }

    & input {
        display: block;
        width: 100%;
        background-color: #e8e9eb;
        color: #434242 !important;
        border-radius: 10px;
        padding: 14px;
        margin-top: 4px;
        margin-bottom: 20px;
        font-size: 16px;
        border: none;
        outline: none;
    }

    & .next-button {
        margin-left: 520px;
        margin-top: 40px;
        font-size: 14px;
        font-family: 'DMSans';
        height: 40px;
        width: 90px;
        border-radius: 10px;
        background-color: #ffffff;
        border: solid;
        border-color: #403DED;
        border-width: 1px;
        color: #403DED;
        cursor: pointer;
    }

    & .sign-up-button {
        text-align: "center";
        font-size: 14px;
        font-family: 'DMSans';
        height: 48px;
        width: 113px;
        border-radius: 10px;
        background-color: #D1D0FB;
        border: none;
        color: #403DED;
        margin-top: 15px;
        cursor: pointer;

    }
}