.background{
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    position: fixed;
    overflow: scroll;
}

.primary-box-sign-up{
    width: 654px;
    height: 650px;
    left: 373px;
    margin-top: 100px;
    position: relative;
    display: grid;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    

    & .title{
        height: 20px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        font-family: 'MuseoModerno';
    }

    & .user-authentication-input{
        font-family: 'DMSans';
        margin-left: 150px;
        margin-top: 10px;
        text-align: left;
        height: 0px;
        width: 350px;
        display: grid;
        }

        & input{
            background-color: #A5ACB6;
            opacity: 29%;
            border-radius: 10px;
            padding: 14px;
            margin-top: 8px;
            margin-bottom: 20px;
            height: 15px;
            font-size: 16px;
            border: none;
        }

    & .sign-up-button{
        margin-left: 280px;
        margin-top: 20px;
        font-size: 14px;
        font-family: 'DMSans';
        height: 40px;
        width: 90px;
        border-radius: 10px;
        background-color: #D1D0FB;
        border: none;
        color: #403DED;
        margin-bottom: 0%;
    }

    & .sign-up-text{
        font-size: 12px;
        margin-left: 230px;
        height: 20px;
    }

    }